In [3]:
print("hola mundo !!!")
print("hola de nuevo")

hola mundo !!!
hola de nuevo

In [4]:
unNumero = 3
otroNumero =2
unTexto = "esto es texto"

print(unNumero)
print(unTexto)

3
esto es texto

In [5]:
type(unNumero)

int

In [6]:
resultado = unNumero + otroNumero
print(resultado)

5

In [7]:
unBooleano = True
type(unBooleano)

bool

In [8]:
comp =3 + 2j
print(comp)

(3+2j)

In [9]:
type(comp)

complex

In [10]:
unFloat = 2.4
type(unFloat)

float

In [11]:
unFloat = "esto es un texto"
type(unFloat)

str

In [12]:
print ("Valor de unFloat:", unFloat)

Valor de unFloat: esto es un texto

In [13]:
entrada = input("Escribe algo")
print("Lo que el usuario escribió:", entrada)
type(entrada)

Lo que el usuario escribió: entrada

str

In [14]:
unaListaNum = [2,6,75,65,78]
type(unaListaNum)

list

In [15]:
cajondesatre = ["textos", 1, True]
print(cajondesatre)

['textos', 1, True]

In [16]:
cajondesatre = ["textos", 1, True]
print(cajondesatre)
print(cajondesatre[0])

['textos', 1, True]
textos

In [17]:
unTupla = ("textos", 1, True)
print(unTupla)
print(unTupla[2])

('textos', 1, True)
True

In [18]:
unConjunto = {"textos", 1, True}
type(unConjunto)

set

In [19]:
unDiccionario = {"texto":"un texto", "numero":34, "booleano": False}
print(unDiccionario)
type(unDiccionario)

{'texto': 'un texto', 'numero': 34, 'booleano': False}

dict

In [20]:
unDiccionario["numero"]

34

In [21]:
unTupla = ("toby", "mosquito", "pichí")
type(unTupla)
print(unTupla)

('toby', 'mosquito', 'pichí')

In [22]:
mascotas = {"toby":"perro", "mosquito":"gato", "pichí":"gorrión"}
type(mascotas)
print(mascotas)

{'toby': 'perro', 'mosquito': 'gato', 'pichí': 'gorrión'}

In [26]:
m = 2
n = 4
r = (m-n) * 3
rrr = r/4

print(r)

-6

In [28]:
m = 2
n = 3
m != n
m < n

True

In [30]:
t1 = "ax"
t2 = "aa"
t1 > t2

True

In [31]:
l1 = [1,2,3]
l2 = [4,2,4]
l1 > l2

False

In [32]:
(t1>t2) or (l2>l1)

True

In [33]:
not (t1>t2) or (l2>l1)

True

In [34]:
"data" in "hola data mundo"

True

In [35]:
"Data" in "hola data mundo"

False

In [37]:
l1 = [1,2,3]
10 not in l1

True

In [39]:
m = 3
n = 3
m is n
m == n

True

In [ ]:
m = [3]
m is n
n = [3]

False

In [41]:
m = [3]
n = [3]
m == n

True

In [43]:
1 + 3 * 4 #precede multiplación a suma

13

In [46]:
x = 4.3
int(x)

4

In [47]:
texto = "Hola mundo"
texto2 ='Hola mundo'
textomultilinea = '''Esto es
un texto
con saltos de linea'''
textomultilinea
textocomillas = 'Un texto con "comillas"'
textocomillas = "Un texto comillas'"
textocomillas = " Un texto con \"comillas"
textocomillas

' Un texto con "comillas'

In [51]:
len(textocomillas) #caracteres
l1 = [1,2,3]
len(l1)

3

In [52]:
list("Hola mundo")

['H', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o']

In [ ]:
set("Hola mundo") #no se repiten los elementos y ordena alfabéticamente

{' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'u'}

In [55]:
sorted("Hola mundo")

[' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'o', 'u']

In [56]:
sorted(l1)

[1, 2, 3]

In [57]:
"Hola mundo" .upper()

'HOLA MUNDO'

In [58]:
"Hola" .replace("a", "x")

'Holx'

In [ ]:
str = "Hola mundo! Hola"
str.replace("o" , "x")
l1 =str.split(" ") #split fracciona
print(l1)
"_".join(l1)

['Hola', 'mundo!', 'Hola']

'Hola_mundo!_Hola'

In [ ]:
str.split(" ").count("Hola") #cuenta el número de "Hola"

2

In [66]:
t1 =(1,2,3) #en la tupla no sepueden mutar los datos
s1 ={1,2,3} #conjunto no se pueden repetir elementos y no están ordenados
l2 = list(t1) #así transformas en lista para poder mutarlos 
l2 = list(s1) #al tranformarlo en lista puedes repetir y ordenar elementos del conjunto

In [67]:
l1 = [1,2,3,4,5,6,7,8,9,10]
prim = l1[0]
ult = l1[len(l1)-1]
print(prim,ult)
l1[0:3]

1 10

[1, 2, 3]

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
prim = l1[0]
ult = l1[len(l1)-1]
print(prim,ult)
l1[2:5] #coge el rango

1 10

[3, 4, 5]

In [69]:
l1 = [1,2,3,4,5,6,7,8,9,10]
prim = l1[0]
ult = l1[len(l1)-1]
print(prim,ult)
l1[:4]

1 10

[1, 2, 3, 4]

In [71]:
l1 = [1,2,3,4,5,6,7,8,9,10]
prim = l1[0]
ult = l1[len(l1)-1]
print(prim,ult)
l1[2:7:3] # [indice inicio:indice final:salto]

1 10

[3, 6]

In [73]:
l1[1:3]=['a', 'b']
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10]

In [74]:
l1.append(4)
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10, 4]

In [ ]:
l2 = ['x' , 'y' ,'z']
l1.extend(l2) #concatena
l1
l3=l1+l2
l3

[1,
 'a',
 'b',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 4,
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z']

In [79]:
[1,2,3]+['a' ,'b' ,'c']

[1, 2, 3, 'a', 'b', 'c']

In [82]:
l1.insert(2, 'Hola') #insertas en la posición 2 "Hola"
l1

[1,
 'a',
 'Hola',
 'Hola',
 'b',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 4,
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z']

In [84]:
l1 = [1,2,3,4,5,6,7] #elimina en ese rango
del(l1[:2])
l1

[3, 4, 5, 6, 7]

In [87]:
el = l1.pop(2) #extrae la pos 2
print(el, l1)

7 [3, 4]

In [90]:
l1 = [1,2,3]
l2 = ['a','b','c'] #no se puede comparar y se produce un error que no deja seguir ejecutando
l1 > l2

TypeError: '>' not supported between instances of 'int' and 'str'

In [96]:
l1 = [1,2,3]
l2 = ['a','b','c'] #se crea un try/except para que pueda seguir ejecutándose, siempre con tabulador antes
try:
    l1 > l2
except:
    print('Error!!!')
print('Continua...')

Error!!!
Continua...

In [98]:
l1 =['a','b','c']
min(l1)

'a'

In [109]:
l1 =['a','b','c'] 
min(l1)
l1.index('a') #indica la posición(índice)

0

In [106]:
l1 =['a','b','c'] 
min(l1)
l1.index('a') 
l1.sort(reverse=True) #cambia el orden
l1

['c', 'b', 'a']

In [108]:
t1 = 1,2,3 #se puede definir así una tupla
t1

(1, 2, 3)

In [112]:
s1 = {'a', 0, 1, True}
s1

{0, 1, 'a'}

In [ ]:
set(l1)
s1.update([2,3,5]) #concatena
s1

{0, 1, 2, 3, 5, 'a'}

In [114]:
s1.remove(2)
s1

{0, 1, 3, 5, 'a'}

In [116]:
s1.discard(22) #elinar el 22, no existe pero lo ejecuta y lo deja como está
s1

{0, 1, 3, 5, 'a'}

In [117]:
s1={'a','b',5}
s2={1,2,5,'c'}
s3 = s1.intersection(s2)
s3

{5}

In [121]:
dict = {'lunes':1, 'martes':2, 'miercoles':3} #devuelve las claves
l1 =list(dict.keys())
l1

['lunes', 'martes', 'miercoles']

In [122]:
dict = {'lunes':1, 'martes':2, 'miercoles':3} #devuelve los valores
l1 =list(dict.keys())
l1
vals = set(dict.values())
vals

{1, 2, 3}

In [125]:
dict1 = {'lunes':1, 'martes':2, 'miercoles':3} 
l1 =list(dict1.keys())
l1
vals = tuple(dict1.values())
vals
items = list(dict1.values())
items

[1, 2, 3]

In [127]:
'lunes' in dict1.keys()

True

In [133]:
dict1['lunes'] ='primero'
dict1['viernes'] = 5
del(dict1['lunes'])
dict1.pop('martes')
dict1

{'miercoles': 3, 'viernes': 5}

In [136]:
l3 = [1,3,5]
3 in l3

True

In [137]:
horas = 35
coste = 2
sueldo= (horas)*(coste)
sueldo

70

In [138]:
max(l3)

5

In [139]:
a= "1,2,3,4,5,6" 
max(a)

'6'